*, ::before, ::after {
  box-sizing: content-box;
}

*:focus {
  outline: .5rem solid #45a049;
}

:root {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}
main {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

h1 {
  margin: 0;
  font-size: 2.4rem;
}
a {
  padding: .5rem;
  font-size: 1.6rem;
  text-decoration-line: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.3rem;
}

nav {
  padding: .3rem 0rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
.nav__links {
  display: flex;
  gap: 2rem;
}

form {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
label {
  font-size: 1.8rem;
}
input {
  font-size: 1.6rem;
  padding: .5rem;
  margin-left: 1rem;
  border: .3rem solid #ccc;
}
.function_preview {
  font-size: 2.4rem;
}
button {
  max-width: 32rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 1.8rem;
}
button:hover {
  background-color: #45a049;
}
button:focus {
  outline: .5rem solid #1B3C53;
}

section > h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.results {
  font-size: 1.6rem;
}
.results > p {
  margin: .5rem 0;
}
.results > hr {
  margin: 2rem 0;
}
.results > table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}
.results > table, .results > th, .results > td {
  border: 1px solid #ddd;
}
.results > table tr:last-of-type {
  color: #ffffff;
  background-color: #45a049;
}
.results > table td {
  padding: .5rem;
}


