*, ::before, ::after {
  box-sizing: content-box;
}

*:focus {
  outline: .5rem solid #45a049;
}

:root {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  font-size: 1.6rem;
}
main {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libertinus Math', 'Times New Roman', Times, serif;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.2rem;
}
a {
  text-decoration-line: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.3rem;
}

header {
  padding: .3rem 0rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
header > a > h1 {
  margin: 0;
  font-size: 2.4rem;
}
header > a {
  padding: .5rem;
  color: inherit;
  text-decoration: none;
}

nav {
  font-family: 'Libertinus Math', 'Times New Roman', Times, serif;
}
nav > a {
  padding: .5rem;
  font-size: 1.8rem;
  text-underline-offset: 0.7rem;
}

form {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
label {
  width: fit-content;
  font-size: 1.8rem;
}
input {
  font-size: 1.6rem;
  padding: .5rem;
  margin-left: 1rem;
  border: .3rem solid #ccc;
}

button {
  max-width: 15rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 1.6rem;
}
button:hover {
  background-color: #45a049;
}
button:focus {
  outline: .5rem solid #1B3C53;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2rem 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}
table, th, td {
  border: 1px solid #ddd;
}
table th {
  background-color: #f0f0f0;
  padding: .5rem;
  text-align: left;
  font-family: 'Libertinus Math', 'Times New Roman', Times, serif;
}
table td {
  padding: .5rem;
}

.math_notation_preview {
  font-size: 2.4rem;
}
.math_notation_preview__label {
  font-size: 1.4rem;
}

.error {
  color: #930000;
  font-weight: 700;
}