<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help</title>
  <link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
  <link rel="stylesheet" href="/static/stylesheets/help.css" type="text/css">
  <script defer type="module" src="/static/scripts/main.js"></script>
  <script defer type="module" src="/static/scripts/mathjax.js"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <header>
      <a href="/"><h1>Newton-Raphson Method for Root-Finding</h1></a>
      <nav>
        <a href="/about">About</a>
        <a href="/help">Help</a>
      </nav>
    </header>
    <section>
      <h1>Help</h1>
      <h2>Using the Newton-Raphson Root Finder</h2>
      <p>
        To use the Newton-Raphson root finder, enter a valid mathematical function of \(x\) in the input field. You can use standard mathematical notation, such as 
        <input data-js="function" type="text" id="function" name="function" value="x^2 + 4"> for the function 
        <span class="math_notation_preview" data-js="function_preview">
          <span data-js="function_text">\(f(x)\) =</span>.
        </span>
      </p>
      <p>
        Provide an initial guess \(x_0\) for the root and specify a tolerance level \(ε\) to determine the accuracy of the result. Click the "Find root" button to start the computation.
      </p>
      <h3>Mathematical Function Format</h3>
      <p>The function supports the following expression formats:</p>
      <ul>
        <li>Arithmetic operations 
          <ul>
            <li>Addition, subtraction, multiplication, and division</li>
            <li>Exponentiation
              <ul>
                <li>Can use ** or ^</li>
                <li>Limited to one digit</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Algebraic operations (with the variable \(x\))</li>
        <li>Trigonometric functions
          <ul><li>\(sin, cos, tan, cot, sec, cosec\)</li></ul>
        </li>
        <li>Logarithms
          <ul><li>\(log, ln\)</li></ul>
        </li>
      </ul>
      <h2>Understanding the Results</h2>
      <p>
        The results section will display the approximate root found by the Newton-Raphson method, along with the number of iterations taken to converge to that root. If the method fails to converge, an appropriate message will be shown.
      </p>
    </section>
  </main>
</body>
</html>