<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Netwon-Raphson Method for Root Finding</title>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
</head>
<body>
  <main>
    <h1>Newton-Raphson for Root Finding</h1>
    <section>
      <form method="post" action="/api/newton-raphson/root">
        <label for="function"> Enter a function \(f(x)\): 
          <input type="text" id="function" name="function">
        </label>
        <label for="initial_guess"> Initial Guess \(x0\):
          <input type="number" id="initial_guess" name="initial_guess">
        </label>
        <label for="tolerance"> Tolerance \(ε\):
          <input type="number" id="tolerance" name="tolerance" step="any">
        </label>
        <button type="submit"> Find root </button>
      </form>
    </section>
    <section>
      <h2>Results</h2>
      <!-- Results are placed here -->
    </section>
  </main>
</body>
</html>